Repository freeCodeCamp-2025-Summer-Hackathon/mint-syntax, pull requests merged in 2025-07, with the labels that each got.

#9 chore: init backend
  REAMDE.md
  backend/.python-version
  backend/README.md
  backend/pyproject.toml
  backend/ruff.toml
  backend/src/__init__.py
  backend/src/config.py
  backend/src/database.py
  backend/src/main.py
  backend/uv.lock
  sample.env
Labels: status: waiting review, scope: backend

#7 chore: update .gitignore for node and react
  .gitignore
Labels: status: waiting review

#5 chore: add basic pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status: waiting review

#6 chore: add .nvmrc
  .nvmrc
Labels: status: waiting review

#25 feat: basic user & ideas routes
  backend/src/api/__init__.py
  backend/src/api/main.py
  backend/src/api/routes/__init__.py
  backend/src/api/routes/ideas.py
  backend/src/api/routes/users.py
  backend/src/main.py
  backend/src/models.py
Labels: scope: backend

#29 chore: add lint backend ruff action
  .github/workflows/lint-backend.yml
Labels: scope: backend, scope: tools/scripts

#40 fix: moving issue templates to the correct folder
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: scope: documentation

#41 chore: add tailwind css daisy UI
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/vite.config.js
Labels: status: waiting review, scope: frontend, scope: tools/scripts

#45 chore: lint-frontend action
  .github/workflows/lint-frontend.yml
  frontend/package.json
Labels: status: waiting review, scope: frontend, scope: tools/scripts

#38 chore: load .env file in frontend
  backend/src/config.py
  frontend/vite.config.js
  sample.env
Labels: status: waiting review, scope: frontend

#53 update: landing page IdeaForge
  .github/workflows/lint-frontend.yml
  README.md
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Footer.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/HelpPage.jsx
  frontend/src/components/IdeaFormSection.jsx
  frontend/src/components/IdeaSubmissionForm.jsx
  frontend/src/components/LandingPageContent.jsx
  frontend/src/main.jsx
  frontend/src/styles.css
Labels: status: waiting review, scope: frontend

#51 fix: default positional argument is not minutes
  backend/src/auth.py
Labels: status: waiting review, scope: backend

#49 chore: remove vite server config
  frontend/vite.config.js
Labels: status: waiting review, scope: frontend

#73 refactor: make faq easier to extend
  frontend/src/components/HelpPage.jsx
Labels: status: waiting review, scope: frontend

#70 fix: inaccessible routes
  frontend/src/main.jsx
Labels: status: waiting review, scope: frontend

#75 feat: display ideas from db
  backend/src/models.py
  frontend/src/App.jsx
  frontend/src/components/IdeaFormSection.jsx
Labels: status: waiting review, scope: frontend

#85 feat: login placeholders
  frontend/src/App.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/LoginForm.jsx
  frontend/src/pages/LoginPage.jsx
Labels: status: waiting review, scope: frontend

#81 refactor: extract fetching to useApi hook
  frontend/src/components/IdeaFormSection.jsx
  frontend/src/hooks/useApi.js
Labels: status: waiting review, scope: frontend

#89 fix: readme.md
  README.md
Labels: scope: documentation

#50 fix: add form dependency on route creating users
  backend/src/api/routes/users.py
Labels: status: waiting review, scope: backend

#88 chore: move logo and upvote images to assets
  frontend/src/assets/Idea-Forge-logo.svg
  frontend/src/assets/Upvote.svg
  frontend/src/assets/react.svg
  frontend/src/components/Header.jsx
  frontend/src/components/IdeaFormSection.jsx
Labels: scope: frontend

#33 feat: script to seed user and idea data
  backend/pyproject.toml
  backend/src/scripts/seed_data.py
  backend/uv.lock
Labels: scope: backend

#92 feat: frontend login
  frontend/src/components/LoginForm.jsx
  frontend/src/hooks/useApi.js
  frontend/src/pages/LoginPage.jsx
  frontend/src/user/UserProvider.jsx
Labels: status: waiting review, scope: frontend

#93 fix: remove unused imports.
  frontend/src/components/Footer.jsx
  frontend/src/components/IdeaSubmissionForm.jsx
  frontend/src/components/LandingPageContent.jsx
Labels: scope: frontend

#90 chore: update favicon and title in index.html
  frontend/index.html
  frontend/public/favicon.svg
  frontend/public/vite.svg
Labels: status: waiting review, scope: frontend

#96 fix: bug at relative navbar links
  frontend/src/components/Header.jsx
Labels: scope: frontend

#97 feat: ideas sorting
  backend/src/api/routes/ideas.py
  frontend/src/App.jsx
  frontend/src/components/IdeaFormSection.jsx
Labels: status: waiting review, scope: backend, scope: frontend

#72 feat: user registration form
  frontend/src/App.jsx
  frontend/src/components/RegisterForm.jsx
  frontend/src/pages/RegisterPage.jsx
Labels: status: waiting review, scope: frontend

#114 docs: update README after removing a legacy library
  README.md
Labels: scope: documentation, status: waiting review

#109 feat: add loading component
  frontend/src/components/IdeaFormSection.jsx
  frontend/src/components/Spinny.jsx
  frontend/src/styles.css
Labels: status: waiting review, scope: frontend

#123 feat: load idea data from api
  frontend/src/pages/Ideas/IdeaPage.jsx
Labels: status: waiting review, scope: frontend

#129 feat: submit idea
  frontend/src/components/IdeaSubmissionForm.jsx
  frontend/src/user/UserProvider.jsx
Labels: status: waiting review, scope: frontend

#130 chore: update package-lock
  frontend/package-lock.json
Labels: status: waiting review, scope: frontend

#125 feat: separate Ideas listing from the header in IdeaFormSection
  frontend/src/App.jsx
  frontend/src/components/IdeaFormSection.jsx
  frontend/src/pages/Ideas/IdeasPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/styles.css
Labels: status: waiting review, scope: frontend

#110 add: 404, ErrorBoundary, Loading component
  frontend/src/App.jsx
  frontend/src/assets/404.svg
  frontend/src/components/DevOnly.jsx
  frontend/src/components/ErrorBoundary.jsx
  frontend/src/pages/NotFound.jsx
  frontend/src/styles.css
  frontend/src/utils/devLogger.jsx
Labels: status: waiting review, scope: frontend

#126 feat: add /search routes placeholders to frontend
  frontend/src/App.jsx
  frontend/src/pages/SearchPage.jsx
Labels: status: waiting review, scope: frontend

#127 feat: add /me routes placeholders to frontend
  frontend/src/App.jsx
  frontend/src/pages/MeEditPage.jsx
  frontend/src/pages/MePage.jsx
  frontend/src/pages/MyIdeasPage.jsx
Labels: status: waiting review, scope: frontend

#135 fix: correct loading indication condition
  frontend/src/components/IdeaFormSection.jsx
Labels: status: waiting review, scope: frontend

#137 feat: tooltip to login when creating idea
  frontend/src/components/IdeaSubmissionForm.jsx
Labels: status: waiting review, scope: frontend

#140 chore: move HelpPage.jsx to pages
  frontend/src/App.jsx
  frontend/src/pages/HelpPage.jsx
Labels: status: waiting review, scope: frontend

#138 add: new voting buttons
  frontend/src/assets/DownvoteButton.svg
  frontend/src/assets/UpvoteButton.svg
Labels: status: waiting review, scope: frontend

#117 feat: login user after registration
  frontend/src/components/RegisterForm.jsx
  frontend/src/pages/RegisterPage.jsx
Labels: status: waiting review, scope: frontend

#139 fix: renamed IdeaFormSection to IdeasList
  frontend/src/components/IdeasList.jsx
  frontend/src/pages/Ideas/IdeasPage.jsx
Labels: status: waiting review, scope: frontend

#124 adding error handling for duplicate keys (username) and any other exc…
  backend/src/api/routes/users.py
Labels: status: waiting update, scope: backend

#145 refactor: IdeaPage
  frontend/src/pages/Ideas/IdeaPage.jsx
Labels: status: waiting review, scope: frontend

#146 refactor: new vote buttons
  frontend/src/components/VoteButtons.jsx
  frontend/src/styles.css
Labels: status: waiting review, scope: frontend

#116 refactor: change in functionality of login/logout button and indicator
  frontend/src/components/Header.jsx
  frontend/src/styles.css
Labels: status: waiting review, scope: frontend

#147 chore: add required field indicators to Idea Submission Form
  frontend/src/components/IdeaSubmissionForm.jsx
  frontend/src/components/RegisterForm.jsx
Labels: status: waiting review, scope: frontend

#168 fix: resolve red star and input field misalignment
  frontend/src/components/RegisterForm.jsx
  frontend/src/styles.css
Labels: status: waiting review, scope: frontend

#175 fix: throw when refresh fails
  frontend/src/user/UserProvider.jsx
Labels: status: waiting review, scope: frontend

#171 feat: add admin-only listing of all users scope: frontend
  frontend/src/App.jsx
  frontend/src/pages/UsersPage.jsx
Labels: status: waiting review, scope: frontend

#180 chore: add seeding script usage to the README.md
  README.md
Labels: status: waiting review, scope: frontend

#181 fix: default destructured parameter
  frontend/src/hooks/useApi.js
Labels: status: waiting review, scope: frontend

#183 fix: refresh access token
  frontend/src/hooks/useApi.js
  frontend/src/user/UserProvider.jsx
  frontend/src/user/utils.js
  frontend/src/utils/apiUrl.js
Labels: status: waiting review, scope: frontend

#182 chore: return more data for admin user listing
  backend/src/api/routes/users.py
  backend/src/models.py
Labels: status: waiting review, scope: frontend

#98 feat: add /me routes to backend
  backend/src/api/main.py
  backend/src/api/routes/me.py
  backend/src/main.py
Labels: status: waiting review, scope: backend

#188 fix: dark mode issue
  frontend/src/styles.css
Labels: status: waiting review, scope: frontend

#191 feat: backend admin view of user ideas
  backend/src/api/routes/users.py
Labels: status: waiting review, scope: frontend

#192 chore: add link to login button
  frontend/src/components/Header.jsx
Labels: status: waiting review, scope: frontend

#198 feat: modify /me/ideas page so it actually shows current user's ideas
  frontend/src/App.jsx
  frontend/src/components/IdeasList.jsx
  frontend/src/pages/MyIdeasPage.jsx
Labels: status: waiting review, scope: frontend

#201 chore: separate admin user edit from user edit
  backend/src/api/routes/me.py
  backend/src/api/routes/users.py
  backend/src/models.py
Labels: status: waiting review, scope: backend

#202 chore: separate user register from admin user creation
  backend/src/api/routes/users.py
  backend/src/models.py
Labels: status: waiting review, scope: backend

#190 feat: add admin-only page to create new users
  frontend/src/App.jsx
  frontend/src/components/Header.jsx
  frontend/src/pages/UserAddPage.jsx
Labels: status: waiting review, scope: frontend

#206 docs:database-setup-instructions
  README.md
Labels: scope: documentation, status: waiting review

#212 chore: return 503 when mongodb is not running
  backend/src/database.py
Labels: status: waiting review, scope: backend

#204 refactor: move "Explore All Ideas" under the "Vote on Current Ideas
  frontend/src/components/IdeasList.jsx
  frontend/src/pages/LandingPage.jsx
Labels: status: waiting review, scope: frontend

#216 fix: verify old password only when non-empty
  backend/src/api/routes/me.py
Labels: status: waiting review, scope: backend

#217 fix: verify old_password when new_password is submitted
  backend/src/api/routes/me.py
Labels: status: waiting review, scope: backend

#218 chore: add basic constraints to input strings
  backend/src/models.py
Labels: status: waiting review, scope: backend

#219 chore: unify /me routes to prevent redirects
  backend/src/api/routes/me.py
Labels: status: waiting review, scope: backend

#215 fix: remove '!isValid' argument from the button in 'RegisterForm
  frontend/src/components/RegisterForm.jsx
Labels: status: waiting review, scope: frontend

#214 refactor: Navbar Links
  frontend/src/components/Header.jsx
  frontend/src/components/ScrollToHashElement.jsx
Labels: scope: frontend

#189 fix: Users list - link to individual user
  frontend/src/pages/UsersPage.jsx
Labels: status: waiting review, scope: frontend

#221 chore: improve voting indication
  frontend/src/components/IdeaListItem.jsx
  frontend/src/components/VoteButtons.jsx
  frontend/src/pages/Ideas/IdeaPage.jsx
Labels: status: waiting review, scope: frontend
